<div class="article-section">
    <div class="section-header-1">
        <h2 class="title">sports</h2>
        <a class="view-all" href="sports.html">View All</a>
    </div>
    <div class="row mb-30-none justify-content-center">
        <div class="col-sm-6 col-lg-4">
            <div class="sports-grid">
                <div class="movie-thumb c-thumb">
                    <a href="#0">
                        <img src="./theme/images/sports/sports01.jpg" alt="sports">
                    </a>
                    <div class="event-date">
                        <h6 class="date-title">28</h6>
                        <span>Dec</span>
                    </div>
                </div>
                <div class="movie-content bg-one">
                    <h5 class="title m-0">
                        <a href="#0">football league tournament</a>
                    </h5>
                    <div class="movie-rating-percent">
                        <span>327 Montague Street</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="sports-grid">
                <div class="movie-thumb c-thumb">
                    <a href="#0">
                        <img src="./theme/images/sports/sports02.jpg" alt="sports">
                    </a>
                    <div class="event-date">
                        <h6 class="date-title">28</h6>
                        <span>Dec</span>
                    </div>
                </div>
                <div class="movie-content bg-one">
                    <h5 class="title m-0">
                        <a href="#0">world cricket league 2020</a>
                    </h5>
                    <div class="movie-rating-percent">
                        <span>327 Montague Street</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="sports-grid">
                <div class="movie-thumb c-thumb">
                    <a href="#0">
                        <img src="./theme/images/sports/sports03.jpg" alt="sports">
                    </a>
                    <div class="event-date">
                        <h6 class="date-title">28</h6>
                        <span>Dec</span>
                    </div>
                </div>
                <div class="movie-content bg-one">
                    <h5 class="title m-0">
                        <a href="#0">basket ball tournament 2020</a>
                    </h5>
                    <div class="movie-rating-percent">
                        <span>327 Montague Street</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>