@inject PageChangeStateContainer StateContainer
@implements IDisposable

<div class="ticket-plan-section padding-bottom padding-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 mb-5 mb-lg-0">
                <ul class="seat-plan-wrapper bg-five">
                    @if (Data is not null && Data.Count > 0)
                    {
                        @foreach (var item in pagedData)
                        {
                            <li >
                                <div class="movie-name">
                                    <div class="icons">
                                        <i class="far fa-heart"></i>
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <a href="javascript:void(0);" class="name">
                                        @item.cinema.CinemaName
                                    </a>
                                    <div class="location-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                </div>
                                <div class="movie-schedule" style="width:0%;">
                                    @foreach (var room in item.roomList)
                                    {
                                        <div class="item">
                                            <a href="javascript:void(0);"
                                               @onclick="() => SendRoomData(room)"
                                               class="name">
                                                @room.RoomName
                                            </a>
                                        </div>
                                    }
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            
            @if (Data is not null && Data.Count > 0)
            {
                <div class="d-flex flex-column align-center">
                    <MudPagination Size="Size.Medium" Variant="Variant.Filled" Color="Color.Primary" 
                                   SelectedChanged="PageChanged"
                                   Count="@Data.Count" Class="my-4"/>
                </div>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public List<CinemaRoomModel>? Data { get; set; }

    [Parameter]
    public EventCallback<CinemaRoomViewModel?> ShowRoomSeat { get; set; }

    private List<CinemaRoomModel> pagedData { get; set; }
    private int currentPage { get; set; } = 1;
    
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
        UpdatePagedData();
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

    private void UpdatePagedData()
    {
        int startIndex = currentPage - 1;
        pagedData = Data.Skip(startIndex).Take(1).ToList();
    }

    private void PageChanged(int pageNo)
    {
        currentPage = pageNo;
        UpdatePagedData();
    }

    private async Task SendRoomData(CinemaRoomViewModel model)
    {
        StateContainer.CurrentPage = PageChangeEnum.PageSeat;
        await ShowRoomSeat.InvokeAsync(model);
    //nav.NavigateTo($"/room-seat/{model.ToJsonStr()}");
    }

}