@page "/"
@inject PageChangeStateContainer StateContainer
@implements IDisposable

<!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#0" class="scrollToTop">
    <i class="fas fa-angle-up"></i>
</a>

<!-- ==========Header-Section========== -->
<NavMenu />


@* <!-- ==========Movie-Main-Section========== -->
<section class="movie-section padding-top padding-bottom bg-two">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-lg-9"> *@
@switch (StateContainer.CurrentPage)
{
    case PageChangeEnum.PageMovie:
        <PageMoviesCard ShowCinema="ShowCinemaClick"/>
        break;
    case PageChangeEnum.PageCinema:
        <PageShowCinema Data="_movieId" ShowRoomSeat="ShowRoomSeatClick" />
        break;
    case PageChangeEnum.PageSeat:
        <PageRoomSeat Data="_roomData" MovideId="_movieId"/>
        break;
    case PageChangeEnum.PageBookingVoucher:
        <PageBookingVoucher/>
        break;
    default:
        <PageMoviesCard ShowCinema="ShowCinemaClick"/>
        break;
}
<!-- Movies -->


@*  <!-- Events -->
                <PageEventsCard/>

                <!-- Sports -->
                <PageSportsCard/> *@

<!-- ==========Newslater-Section========== -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="logo">
                <a href="javascript:void(0);">
                    <img src="./theme/images/footer/footer-logo.png" alt="footer">
                </a>
            </div>
            <ul class="social-icons">
                <li>
                    <a href="javascript:void(0);">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="active">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-area">
                <div class="left">
                    <p>Copyright © 2020.All Rights Reserved By <a href="javascript:void(0);">Boleto </a></p>
                </div>
                <ul class="links">
                    <li>
                        <a href="javascript:void(0);">About</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Terms Of Use</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">FAQ</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>