<div class="col-lg-4">
    <div class="booking-summery bg-one">
        <h4 class="title">booking voucher</h4>
        <h4 class="title h5">Building Name</h4>
        <ul>
            <li>
                <h6 class="subtitle mb-0">
                    <span>Movie Name</span><span>The Nun 2</span>
                </h6>
            </li>
            <li>
                <h6 class="subtitle mb-0">
                    <span>Room Name</span><span>Room2</span>
                </h6>
            </li>
            <li>
                <h6 class="subtitle mb-0">
                    <span>Seat</span><span>A12</span>
                </h6>
            </li>
            <li>
                <h6 class="subtitle mb-0">
                    <span>Seat Price</span><span>$150</span>
                </h6>
            </li>
            <li>
                <h6 class="subtitle mb-0">
                    <span>Show Date</span><span>2023-09-26</span>
                </h6>
            </li>
            <li>
                <h6 class="subtitle mb-0">
                    <span>Tickets Price</span><span>$150</span>
                </h6>
            </li>
        </ul>
        <!-- <ul class="side-shape">
            <li>
                <h6 class="subtitle"><span>combos</span><span>$57</span></h6>
                <span class="info"><span>2 Nachos Combo</span></span>
            </li>
            <li>
                <h6 class="subtitle"><span>food & bevarage</span></h6>
            </li>
        </ul>
        <ul>
            <li>
                <span class="info"><span>price</span><span>$207</span></span>
                <span class="info"><span>vat</span><span>$15</span></span>
            </li>
        </ul>
        </div>
        <div class="proceed-area  text-center">
            <h6 class="subtitle"><span>Amount Payable</span><span>$222</span></h6>
            <a href="#0" class="custom-button back-button">proceed</a>
        </div> -->
    </div>
</div>