<header class="header-section header-active">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="javascript:void(0);">
                    <img src="./theme/images/logo/logo.png" 
                    @onclick="Home"
                    alt="logo">
                </a>
            </div>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>

@code{
    [Parameter]
    public EventCallback MainPage { get; set; }
    async Task Home()
    {
        StateContainer.CurrentPage = PageChangeEnum.PageMovie;
        await MainPage.InvokeAsync();
        // nav.NavigateTo("/");
    }
}